export default function Dashboard({ total, paid, overdue }) {
  return (
    <div>
      <h1>Dashboard</h1>

      <div>
        <p>Total: {total}</p>
        <p>Paid: {paid}</p>
        <p>Overdue: {overdue}</p>
      </div>
    </div>
  )
}